<?xml version="1.0" encoding="utf-8"?>
<manifest
  xmlns:android="http://schemas.android.com/apk/res/android"
  package="org.npr.android.news" android:versionName="2.4"
  android:versionCode="3">
  
  <uses-permission
    android:name="android.permission.INTERNET"/>
  <uses-permission
    android:name="android.permission.ACCESS_MOCK_LOCATION"/>
  <uses-permission
    android:name="android.permission.ACCESS_COARSE_LOCATION"/>
  <uses-permission
    android:name="android.permission.READ_PHONE_STATE"/>
  <uses-permission
    android:name="android.permission.ACCESS_NETWORK_STATE"/>
  <uses-permission
    android:name="android.permission.BROADCAST_STICKY"/>
  <uses-permission
    android:name="android.permission.BLUETOOTH"/>
  <uses-permission
    android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

  <uses-sdk
    android:targetSdkVersion="15"
    android:minSdkVersion="7"/>
  <supports-screens
    android:normalScreens="true"
    android:anyDensity="true"
    android:largeScreens="true"/>
    
  <application
    android:label="@string/app_name"
    android:theme="@style/MyTheme"
    android:icon="@drawable/icon"
    android:name="NewsApplication">
    <activity
      android:name="StationListActivity"
      android:windowSoftInputMode="adjustPan"
      android:screenOrientation="portrait"/>
    <activity
      android:name="StationDetailsActivity"
      android:screenOrientation="portrait"/>
    <activity
      android:name="NewsStoryActivity"
      android:screenOrientation="portrait"/>
    <activity
      android:name="NewsListActivity"
      android:screenOrientation="portrait">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
      <intent-filter>
        <action android:name="android.intent.action.VIEW"/>
        <category android:name="android.intent.category.DEFAULT"/>
      </intent-filter>
    </activity>
    <activity
        android:name="NewsImageActivity"
        android:screenOrientation="portrait"/>
    <activity
      android:name="NewsTopicActivity"
      android:screenOrientation="portrait"/>
    <activity
      android:name="AllProgramsActivity"
      android:screenOrientation="portrait"/>
    <activity
      android:name="AboutActivity"
      android:screenOrientation="portrait"/>
    <activity
      android:name="SearchActivity"
      android:windowSoftInputMode="adjustPan|stateVisible"
      android:screenOrientation="portrait"/>
    <activity
      android:name="PodcastActivity"
      android:screenOrientation="portrait"/>
    <activity
      android:name="SearchResultsActivity"
      android:windowSoftInputMode="adjustPan|stateHidden"
            android:screenOrientation="portrait">
      <intent-filter>
        <action android:name="android.intent.action.SEARCH"/>
      </intent-filter>
      <meta-data android:name="android.app.searchable"
                 android:resource="@xml/searchable"/>
    </activity>
    <activity
      android:name="ProgramStoryListActivity"
      android:screenOrientation="portrait"/>
    <activity
      android:name="HourlyNewsActivity"
      android:screenOrientation="portrait"/>
    <provider
      android:name="org.npr.android.util.PlaylistProvider"
      android:authorities="org.npr.android.util.Playlist"/>
    <provider
      android:name="org.npr.api.IPhoneNewsAppProgramsConfProvider"
      android:authorities="org.npr.apr.IPhoneNewsAppProgramsConf"/>
    <provider
      android:name="org.npr.api.IPhoneTimersConfProvider"
      android:authorities="org.npr.apr.IPhoneTimersConf"/>
    <provider
      android:name="org.npr.android.util.FavoriteStationsProvider"
      android:authorities="org.npr.android.util.FavoriteStations"/>
    <receiver android:name="org.npr.android.util.AudioBecomingNoisyReceiver">
      <intent-filter>
        <action android:name="android.media.AUDIO_BECOMING_NOISY"/>
      </intent-filter>
    </receiver>
    <service android:name="PlaybackService"/>

    <uses-library
      android:name="android.test.runner"/>

    <!-- Start of Crittercism.com Code -->
    <activity android:name="com.crittercism.NotificationActivity"/>
    <!-- End of Crittercism.com Code -->

    <!-- declare the default searchable Activity for the whole app -->
    <meta-data android:name="android.app.default_searchable"
               android:value=".SearchResultsActivity"/>
  </application>
</manifest>